---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import Footer from "../components/Footer.astro"

let title = "Working with Playwright";
let description = "Scrape websites, create screenshots, automate and program it to do stuff. Thought it would be a nice idea to share some of the code I use.... ";
import { Img } from "astro-imagetools/components";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/*.md");

// const posts = unsortedPosts.sort(function (a, b) {
// 	return (
// 		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
// 	);
// });

const posts = unsortedPosts.sort((a, b) => a.frontmatter.id - b.frontmatter.id);

// const posts = unsortedPosts.sort(function (a, b) {
// 	return (
// 		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
// 	);
// });

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-gray-900 ">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe title="gtm" src="https://www.googletagmanager.com/ns.html?id=GTM-TTFKSVL"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

		<Header />
		<div class="wrapper">
			<main class="content ">
				<section class="relative w-11/12 px-4 py-4 mx-auto mt-20 mb-8 rounded-md md:max-w-6xl bg-gradient-to-r from-green-900 to-green-600 intro border-opacity-20">
					
					
					<div class="max-w-4xl ">
					<h2 class="font-bold ">{title}</h2>
					<p class="mt-4 md:w-4/6">{description}</p>
					</div>
						
						<a target="_blank" href="https://playwright.dev" class=" absolute right-0 md:right-10 -top-10 md:-top-20 mx-auto w-[75px] h-[75px] md:w-[150px] md:h-[150px]" title="Go to Playwright.dev website">
							<!-- <img src="https://playwright.dev/img/playwright-logo-150.svg" alt=""  alt="Go to Playwright.dev website">
							<img src="https://playwright.dev/img/playwright-logo-75.svg" alt=""  alt="Go to Playwright.dev website"> -->


							<picture>
								<source media="(max-width: 150px)" srcset="/assets/blog/playwright-logo-75.svg" height="75" width="75">
								<source media="(min-width: 151px)" srcset="/assets/blog/playwright-logo-150.svg" height="150" width="150">
								<img src="/assets/blog/introducing-astro.jpg" alt="Chris standing up holding his daughter Elva" height="150" width="150">
							  </picture>

							<!-- <Img
								src="/assets/blog/playwright-logo.png"
								alt="A random image"
								breakpoints={[75, 150]}
								quality={100}
								format="jpg"
								/> -->
								<!-- decoding="null" -->

						</a>

				
				
				
				</section>
				<!-- <section aria-label="Blog post list" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3 p-4 md:p-0 min-h-[50%] justify-items-center  md:mt-12 md:mx-12"> -->
					<section aria-label="Blog post list" class="flex flex-row flex-wrap justify-center mx-auto text-black max-w-7xl justify-items-center">
					{posts.map(({ url, frontmatter }) => (
						<BlogPostPreview
						title={frontmatter.title}
						heroImage={frontmatter.heroImage}
							description={frontmatter.description}
							publishDate={frontmatter.publishDate}
							url={url}
						/>
					))}
				</section>
			</main>
		</div>

		<Footer/>

	</body>
</html>

<style>
	






 
</style>