---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
	heroImage?: {
			src: string;
			alt: string;
		};
}
 
const {heroImage, title, description, publishDate, url } = Astro.props as Props;
---

<article class="font-semibold text-white post-preview w-72">
 
		<header class="mt-4 mr-4 bg-indigo-900 rounded-md ">
			{heroImage && (
				<img
				class=" rounded-t-md"
				width="280"
				height="140"
				src={heroImage.src}
				alt={heroImage.alt}
				/>
				)}
				 <!-- loading="lazy" -->
		<!-- <time>{publishDate}</time> -->
		<a href={url}><h1 class="p-4 title">{title}</h1></a>
	</header>
 
	<!-- <p>{description}</p> -->
	<!-- <a href={url}>Read more</a> -->

 
</article>
<!-- 
<style>
	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	.title,
	time {
		margin: 0;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style> -->
