---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Img } from "astro-imagetools/components";

import Gh from "../components/Gh.astro";


export interface Props {
	content: {
		title: string;
		description: string;
		publishDate: string;
		heroImage?: {
			src: string;
			alt: string;
		};
	}
}

const { content: { title, description, publishDate, heroImage }, } = Astro.props as Props;

let allPosts = await Astro.glob('../pages/posts/**/*.md');
allPosts = allPosts
	.filter(post => !post.frontmatter.draft)
	.sort((a, b) =>
		// new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
		(b.frontmatter.id).valueOf() - (a.frontmatter.id).valueOf()
	);
let postsNumber = allPosts.length;
const thisUrl = new URL(Astro.request.url);
let nextUrl, nextTitle, prevUrl, prevTitle, addSlash = "";
for (let x = 0; x < postsNumber; x++) {
	if (thisUrl.pathname + addSlash === allPosts[x].url) {
		// console.log(allPosts[x].url);
		if (x > 0) {
			nextUrl = allPosts[x - 1].url;
			nextTitle = allPosts[x - 1].frontmatter.title;
		}
		if (x < postsNumber - 1) {
			prevUrl = allPosts[x + 1].url;
			prevTitle = allPosts[x + 1].frontmatter.title;
		}
	}
}

---


<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="z-50 bg-gray-900">
		
		<div class="sticky top-0 z-40 supports-backdrop-blur:bg-black/95 dark:bg-gray-900/75 backdrop-blur ">
			<Header />
		</div>
		 

		<div class="">

	
			<article>
				

				
								<header class="relative z-0 bg-gray-800">


												 
											<div class="w-full mx-auto ">
												<div class="z-0 flex bg-gray-900 h-96 justify-items-center">

													{heroImage && (
														<Img
														attributes={{ img: { class: "z-0 mx-auto  " } }}
														width={840}
														height={420}
													    src={heroImage.src}
														alt={heroImage.alt}
														layout="fullWidth"
														/>
														)}
											</div>
											<div  class="absolute z-50 items-center justify-center w-full mx-auto -mt-40 bg-gray-900 bg-opacity-50">

												<div class="mx-auto ml-5 ">
													<h1 class="z-40 h-10 mx-auto my-16 text-xl font-extrabold text-center text-white md:text-5xl -800 rounded-b-md">{title}
													</h1>
												</div>	
											</div>
												
											</div>		
												
											</header>
											
											
											
											<main>
									<div class="z-50 p-4 mx-auto prose prose-invert bg-800 border-opacity-5 lg:prose-xl">

									
											 
													<slot></slot>

											 

												 
													{nextTitle &&
													<p class="ctr prevnextP">
														Next: <a class="next" href={nextUrl}>{nextTitle}</a>
														</p>
													}
												{prevTitle &&
													<p class="ctr prevnextP">
														Previous: <a class="previous" href={prevUrl}>{prevTitle}</a>
														</p>
													}




</div>
</main>

</article>

</div>
<Gh/>

		
	

	<div class="">
		<Footer/>

	</div>


	</body>
</html>











<style>
 
</style>
